<!-- sessions/authenticate_with_password.html.erb -->
<%= form_with(url: authenticate_with_password_path, method: :get) do |form| %>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.hidden_field :email, value: params[:email].presence || params.dig(:user, :email).presence %>

    <%= form.submit 'Authenticate with Password' %>
  </div>
<% end %>
